
#https://dev.to/maelvls/why-is-go111module-everywhere-and-everything-about-go-modules-24k
export GOPATH=$(mktemp -d)
export GO111MODULE=on #auto
export GOFLAGS=-mod=vendor

#export PATH="/usr/local/opt/go@1.14/bin:$PATH"
